COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
src/.deps/hello-main.Po
src/Makefile
src/Makefile.in
src/hello
src/hello-main.o
stamp-h1

